* {
	font: inherit;
}

body {
	font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Helvetica,
		Arial, sans-serif;
}

.container {
	text-align: center;
}

.timer {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	line-height: initial;
	text-align: left;
}

.dial {
	height: 400px;
	width: 400px;
}

.timer input {
	display: block;
	border: none;
	width: 50%;
	height: 25%;
	font-size: 40px;
	text-align: center;
	background: grey;
}

.timer button {
	border: none;
	font-size: 36px;
	cursor: pointer;
}

.timer button:focus {
	outline: none;
}

.timer input:focus {
	outline: none;
}

.controls {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
